<p onmouseover="this.innerHTML='Probably not a robot.';" onmouseout="this.innerHTML='Definitely not a robot.';">Definitely not a robot.</p>

<a href="https://facebook.com/RoryHayes"><i class="fa my-fa-facebook-square fa-2x"></i></a>
<a href="https://twitter.com/rorosaurus"><i class="fa my-fa-twitter-square fa-2x"></i></a>
<a href="https://linkedin.com/in/RoryHayes"><i class="fa my-fa-linkedin-square fa-2x"></i></a>
<a href="https://github.com/rorosaurus"><i class="fa fa-github-square fa-2x"></i></a>
<a href="https://steamcommunity.com/id/rorosaurus/"><i class="fa fa-steam-square fa-2x"></i></a>
<a href="https://open.spotify.com/user/rorosaurus"><i class="fa fa-spotify fa-2x"></i></a>
