{{#foreach navigation}}
  <h6><a href="{{url absolute="true"}}">{{label}}</a></h6>
{{/foreach}}
<h6><a href="mailto:rory@rorosaurus.github.io/roryhay.es-v2.0"><i class="fa fa-envelope"></i> Email me</a></h6>
